.main-container {
  position: relative;
}

.how-to-play-display {
  position: absolute;
  top: 20vh;
  left: 22vw;
  z-index: 9;
}

.HomeContainer {
  background-color: black;
  color: white;
  height: 100%;
  width: 80%;
  position: fixed;
  text-align: center;
  font-family: monospace;
  padding: 5% 10% 5%;
}

@media (max-width: 768px) {
  .HomeContainer {
    width: 100%;
    padding: 1% 4% 1%;
  }
}

.how-to-play-button {
  position: absolute;
  top: 3%;
  right: 2%;
}

.main-title {
  color: #f39b4b;
  font-family: Parabole;
  font-size: 54px;
}

.title-plus {
  color: orange;
}

.username-prompt {
  /* color: violet; */
  color: #fff;
  margin: 2%;
  font-size: 1.125rem;
}

.username-input {
  border-radius: 5%;
  height: 2rem;
  /* background-color: lightslategray; */
  /* color: lightgreen; */
  background-color: #2D3748;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 40%;
}

::placeholder {
  color: lightgreen;
}

.error-text {
  color: red;
}

.new-game-button {
  margin-top: 4%;
}

.or-text {
  margin-top: 20%;
}

.join-with-gamecode-text {
  font-size: 1.1rem;
}

.gamecode-input {
  border-radius: 5%;
  height: 2rem;
  background-color: lightslategray;
  color: lightgreen;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  width: 70%;
}
